<!-- http://www.masseriacisternella.it/en/ -->
<!-- http://www.freresdencre.com/ -->

<div class="homepage-pic-left" id="slideshow">
	<%= image_tag ("hHLcgyE.jpg"), :class => "pic", :id => "2" %>
	<%= image_tag ("471736.jpg"), :class => "pic", :id => "1" %>
	<%= image_tag ("JDGA6fo.jpg"), :class => "pic", :id => "3" %>
	<%= image_tag ("W7Obg.jpg"), :class => "pic", :id => "4" %>
	<%= image_tag ("XCpfj9l.jpg"), :class => "pic", :id => "5" %>
</div>

<div class="homepage-text-right">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Philosophy", phil_path %></li>
		<li><%= link_to "About Us", info_path %></li>
		<li><%= link_to "For Parents", faq_path %></li>
		<li><%= link_to "Contact Us", contact_path %></li>
	</ul>
</div>

<div class="lotus">
	<%= image_tag ("logo.PNG"), :width => "250px", :height => "250px" %>
</div>
